@model IList<Vagant.Web.Models.ProfileHistory.ProfileHistoryItemViewModel>


<div class="profile-history">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Event Date</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var historyItem in Model)
            {
                <tr>
                    <td>
                        @historyItem.EventName
                    </td>
                    <td>@historyItem.EventDate</td>
                    @if (@historyItem.EventRate == 0)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@historyItem.EventRate.ToString("F")</td>
                    }
                    <td>
                        <a class="btn btn-default" href="@Url.Action("Details", "Event", new { id = historyItem.EventId })">Details</a>
                        @if (historyItem.CanClone)
                        {
                            <a class="btn btn-default" href="@Url.Action("Clone", "Event", new { id = historyItem.EventId })">Clone</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="#">Follow</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
